<div id="h-card">
    <br />
    <h2>About the Author</h2><hr />
    <br />
    <img class="u-photo" src="{{ site.author_pic }}" alt="Photo of {{site.author}}" style="border-radius: 50%;"/>
    <p class="p-note">
    I'm a <a href="https://www.linkedin.com/in/erhan-bagdemir/">Software Engineer</a>, Referee, a passionate Photographer and Dad. In this blog I am writing about information technology. You can also find me on <a href="https://twitter.com/reevik">Twitter</a>, <a href="https://www.flickr.com/photos/bagdemir/">Flickr</a> and <a href="https://github.com/reevik">Github</a>.
    </p>
    <a href="{{site.url}}" class="u-url u-uid" hidden></a>
</div>