<footer>
    <div id="social">
        <a href="https://twitter.com/{{site.twitter}}" rel="me">
            <img src="/images/icons/icons8-twitter.svg" width="24" style="opacity:0.6">
        </a>
        
        <a href="https://www.linkedin.com/in/{{site.in}}" rel="me">
            <img src="/images/icons/icons8-linkedin.svg" width="24" style="opacity:0.6">
        </a>
               
        <a href="https://github.com/{{site.github}}" rel="me">
            <img src="/images/icons/icons8-octocat.svg" width="24" style="opacity:0.6">
        </a>

        <a href="https://www.youtube.com/channel/{{site.youtube}}" rel="me">
            <img src="/images/icons/icons8-youtube-logo.svg" width="24" style="opacity:0.6">
        </a>

        <a href="https://stackoverflow.com/users/{{site.stack}}" rel="me">
            <img src="/images/icons/icons8-stack-overflow.svg" width="24" style="opacity:0.6">
        </a>
    </div>
    <strong>
        <a href="https://github.com/{{ site.repository }}">Source Code</a>
        licensed under
        <a href="https://github.com/{{ site.repository }}/blob/master/LICENSE">MIT</a>.
        <br/>
        Website content licensed
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
        <br/>
        by
        {{ site.author }}
    </strong>

</footer>
