<header>
    <nav id="navigation" style="text-align: right;">
        <a href="https://reevik.net">EN</a> | <a href="https://reevik.net">TR</a></nav>
    </nav>
    <hr/>
    <br />
    <div style="margin: auto; width: 100%; justify-content: center; display: flex;">
    <img class="u-photo" src="{{ site.author_pic }}" alt="Photo of {{site.author}}" style="border-radius: 50%; width: 120px; border: 0px solid #DDD;"/>
    </div>
    <h1 id="title" style="color: #000;">
        {{site.title}}
    </h1>
    <p id="description">
        {{site.description}}
    </p>

    <div id="social" style="margin: auto; width: 100%; justify-content: center; display: flex;">
        <a href="https://twitter.com/{{site.twitter}}" rel="me">
            <img src="/images/icons/icons150-tw.png" width="50">
        </a>
        
        <a href="https://www.linkedin.com/in/{{site.in}}" rel="me">
            <img src="/images/icons/icons150-ln.png" width="50">
        </a>
               
        <a href="https://m.reevik.net" rel="me">
            <img src="/images/icons/icons150-med.png" width="50">
        </a>

        <a href="/feed.xml" rel="me">
            <img src="/images/icons/icons150-rss.png" width="50">
        </a>
    </div>

    <br />
    <hr/>
    <nav id="navigation">
        <a href="/">Home</a> | 
        <a href="/microblog/">Microblog</a> |
        <a href="/projects/">Projects</a> |
        <a href="/tags/">Archive</a> | 
        <a href="/about/">About</a>
    </nav>
    <hr/>
</header>
